<%- include('partials/head') %>
<div class="jumbotron">Page d'Accueil</div>
<h1>NODEJS C'EST PAS MARRANT</h1>
<p>je crois que ça fonctionne ( ou pas )</p>
<h2>ENCORE UNE RAISON DE ME TAILLER LES VEINES</h2>
<% if (message) { %>
<p><%= message %></p>
<% } %> <%- include('partials/footer') %>
