<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Ajoutez ici le lien vers votre fichier CSS personnalisé si nécessaire -->
    <title>NodeJS 2023</title>
  </head>
  <body class="text-center">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/connexion">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inscription">Inscription</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/deconnexion">Deconnexion</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
